@import '~common/styles/sizes.less';

div.root {
  background: #fff;
  padding: 0.25em;
  margin-bottom: 5em;
}

.simple {
  background: none!important;
  box-shadow: none!important;
}

.heroImage {
  background-image: url('assets/images/brush-stroke-2-3.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 147px;
  width: 698px;
  z-index: -1;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchContainer {
  margin-right: auto;
  width: 100%;
}

.linkContainer {
  padding: 0 0.25em;
  margin: 0;
  font-weight: bold;
  flex-shrink: 0;
  font-size: 0.75em;
}

.link {
  padding: 0.25em 0.5em;
  display: inline-block;
}

.icon {
  margin-right: 0.5em;
}

@media only screen and (min-width: @mobile) {
  .linkContainer {
    font-size: 1em;
  }
}
