@import '~common/styles/sizes.less';

.root {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.7em;
  padding: 2em;
  background: #383232;
}

.container {
  max-width: 900px;
  display: flex;
  align-items: center;
}

.linkContainer {
  flex-shrink: 0;
  margin: 1em;

  > * {
    display: block;
    margin: 0.5em;
  }
}

@media only screen and (min-width: @tablet) {
  .linkContainer > * {
    display: inline-block;
  }
}
