{
  "presets": [
    "babel-preset-react",
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": [">1%", "last 4 versions", "not ie < 11", "Firefox ESR"]
      }
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        "babel-preset-react",
        ["env", {
          "useBuiltIns": true,
          "targets": {
            "browsers": [">1%", "last 4 versions", "not ie < 11", "Firefox ESR"]
          }
        }]
      ],
      "plugins": [
        "istanbul",
        "dynamic-import-node",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements"
      ]
    }
  }
}
