{
  "presets": [
    "babel-preset-es2015",
    "babel-preset-es2016",
    "babel-preset-react"
  ],
  "plugins": [
  	"syntax-trailing-function-commas",
  	"transform-decorators-legacy",
  	"transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
