{
  "extends": ["./config/eslint.js", "airbnb"],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "space-before-function-paren": [2, "always"],
    "comma-dangle": ["error", "always-multiline"],
    "default-case": "off",
    "react/react-in-jsx-scope": "off",
    "global-require": "off",
    "import/no-unresolved": "off",
    "no-unused-expressions": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "no-duplicate-imports": "off",
    "import/no-duplicates": "error"
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__DATE__": true,
    "__SHORT_GIT_HASH__": true
  }
}
