@import '~common/styles/sizes.less';

.root {
  width: 100%;
  text-align: left;
}

.introContainer {
  margin: 0 auto;
  padding: 2em 0.5em;
  max-width: 500px;
}

.newsContainer {
  margin: 2em 0;
}

.atfContainer {
  display: inherit;
  min-height: 400px;
  padding: 2em 0;
}

.introBackground {
  background-image: url('assets/images/gw_whatisgw.png');
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: @pc) {
  .atfContainer {
    padding: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
