@import '~common/styles/sizes.less';

.root {
  width: 100%;
  text-align: left;
}

.heroImageContainer {
  padding: 0 1em;
  margin: 3em auto 5em;
  position: relative;
}

.heroImage {
  height: 250px;
  margin-bottom: 2em;
}

.introContainer {
  margin: 2em 0;
}

.newsContainer {
  margin: 2em 0;
}

.atfContainer {
  padding: 3em 0;
  display: inherit;
  min-height: 400px;
}

.guildsContainer {
  display: flex;
  padding: 3em 0;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.introBackgroundContainer {
  background-color: black;
  position: relative;
}

.introBackground {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/images/hero.jpg');
  background-position: 26% 13%;
  background-size: 160%;
}

.searchBar {
  margin: 0 auto;
  max-width: 600px;

  > div {
    padding: 0.5em;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: @pc) {
  .atfContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
