@json-import '/colours.json';

@_orange: #e8980c;
@_white: #fefefe;
@_lightgreen: #8FBF7F;
@_green: #05A009;
@_lightgray: #f7f9fa;
@_gray: #9d9e9f;
@_darkgray: #606468;
@_darkergray: #333;
@_darkestgray: #292929;
@_copper: #75441D;
@_blue: #3C67A6;
@_gold: #FFC90E;
@_red: #d63227;
@_pink: #FF7F7F;
@_black: #000;
@_purple: #5523A4;

@junk: #aaa;
@basic: #000;
@fine: #62a4da;
@masterwork: #1a9306;
@rare: #fcd00b;
@exotic: #ffa405;
@ascended: #fb3e8d;
@legendary: #4c139d;
@flavor: #94dcd2;
@reminder: #4564a1;

@primary: @_red;
@text: @_darkergray;
@cardbackground: @_white;
@background: @_lightgray;
@positive: @_lightgreen;
@negative: @_pink;
@disabled: @_darkgray;
@disabledalt: @_lightgray;
@hr: fade(@_gray, 50%);

@tooltipTopFont: @_gray;
@scrollBar: @_gray;

.negative {
  color: @negative;
}

.positive {
  color: @positive;
}

.junk {
  color: @junk;
}

.basic {
  color: @basic;
}

.fine {
  color: @fine;
}

.masterwork {
  color: @masterwork;
}

.rare {
  color: @rare;
}

.exotic {
  color: @exotic;
}

.ascended {
  color: @ascended;
}

.legendary {
  color: @legendary;
}

.copper {
  color: @_copper;
}

.green {
  color: @_green;
}

.dark-gray {
  color: @_darkgray;
}

.blue {
  color: @_blue;
}

.gold {
  color: @_gold;
}

// == GW2 MARKUP COLOURS ==

.flavor {
  color: @flavor;
}

.reminder {
  color: @reminder;
}
