@import '~common/styles/base.less';

.root {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  flex-shrink: 1;
  background-size: contain;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  padding: 0 0.5em;
}

.title {
  font-size: 1.8em;
  .primaryFont();
}
