@import '~common/styles/sizes.less';

.container {
  background-size: cover;
  display: inline-block;
  flex-shrink: 0;
}

.micro {
  width: @micro-size * 1px;
  height: @micro-size * 1px;
}

.mini {
  width: @mini-size * 1px;
  height: @mini-size * 1px;
}

.small {
  width: @small-size * 1px;
  height: @small-size * 1px;
}

.medium {
  width: @medium-size * 1px;
  height: @medium-size * 1px;
}

.large {
  width: @large-size * 1px;
  height: @large-size * 1px;
}

.button {
  cursor: pointer;
}
