.root {
  text-align: left;
}

.chart {
  width: 250px !important;
  height: 250px !important;
}

.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 250px;
}
