@import '~common/styles/base.less';

.root {
  text-align: left;
}

.chart {
  margin: 1em;
}

.chartContainer {
  text-align: center;

  text {
    font-size: 11px;
  }
}

.chartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 250px;
  margin-top: 2.5em;
}

.count {
  font-size: 4em;
  composes: chartContainer;
  width: 325px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  text-align: center;
}

.fromTablet({
  .note {
    text-align: left;
  }
});
