@import '../../styles/colours.less';

.container {
  padding: 1em;
  text-align: center;
}

.small {
  padding: 0;
  text-align: left;
  font-size: 0.9em;
}

.success {
  color: @positive;
}

.error {
  color: @negative;
}

.info {

}
