@import '~common/styles/base.less';

.root {
  position: relative;
  overflow: hidden;
}

.header {
  .flexCenter();
  height: 175px;

  // prettier-ignore
  .fromTablet({
    height: 150px;
  });
}

.title {
  .primaryFont();
  color: white;
  text-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  font-size: 2em;
  line-height: 60px;
  z-index: @_zindexBehind;
  letter-spacing: 5px;

  // prettier-ignore
  .fromTablet({
    .flexCenter();
      font-size: 2.5em;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      letter-spacing: 10px;
  });
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: @_zindexBehind;
}
