@import '~common/styles/sizes.less';

.root {
  position: absolute;
  top: 15%;
  right: 0;
  overflow: hidden;
}

.icon {
  cursor: pointer;
  opacity: 0.9;
  composes: low from 'common/styles/box-shadow.less';
  background-color: #fff;
  transition: transform 0.2s;
  transform: translate3d(10%, 0, 0);

  &:focus,
  &:hover {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (min-width: @tablet) {
  .root {
    position: fixed;
  }
}
