@margin-size: 0.5rem;

.root {
  margin-top: 1rem;
  font-size: 1em;
  text-align: center;
}

.textbox {
  display: inline-block;
  font-size: 1rem;
  width: 300px;
  padding: 0.5em;
  outline: none;
  border: none;
  composes: low from '../../styles/box-shadow.less';
}

.socialButtons {
  justify-content: center;
  display: flex;
  align-items: center;
}
