@import '~common/styles/sizes.less';

.root {
  position: absolute;
  top: 15%;
  right: 0;
  transform: translate3d(10%, 0, 0);
  transition: transform 0.2s;
  background: #fff;
  composes: low from 'common/styles/box-shadow.less';

  &:hover {
    transform: translate3d(0, 0, 0);
  }
}

.icon {
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

@media only screen and (min-width: @tablet) {
  .root {
    position: fixed;
  }
}
