.container {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background 0.3s;
  height: 5em;
  width: 10em;
  flex-shrink: 0;
}

.placeholder {
  background: gray;
}

.image {
  height: 100%;
  width: 5em;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  min-height: 1em;
}

.subTitle {
  min-height: 1em;
}
