.root {
  padding: 4em 0;

  pre {
    font-family: monospace, monospace;
    font-size: 0.8rem !important;
    overflow: auto;
  }
}

.iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

:global(.gw2a-traits-embed),
:global(.gw2a-amulets-embed),
:global(.gw2a-items-embed),
:global(.gw2a-skills-embed) {
  text-align: center;
}
