@import '~common/styles/base.less';

@textShadow: @_black;

.root {
  -webkit-backface-visibility: hidden;
  z-index: @tooltipZ;
  font-size: 14px;
  text-align: left;
  text-shadow: 1px 1px 1px fade(@textShadow, 30%);
  color: @tooltipTopFont;
  .secondaryFont();
}
