@import '../../styles/sizes.less';
@import '../../styles/z-index.less';
@import '../../styles/colours.less';

@tooltip-opacity: 0.3;

.root {
  -webkit-backface-visibility: hidden;
  z-index: @top-z;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, @tooltip-opacity);
  color: @gray;
}
