.root {
  margin-bottom: 1em;
}

.sectionRoot {
  max-height: 120px;
  overflow: hidden;
}

.icon {
  transform: rotate(-90deg);
}

.expanded {
  max-height: unset;

  .icon {
    transform: rotate(0);
  }
}

.item {
  opacity: 0.35;
}

.hasItems {
  opacity: 1;
}

.buttonContainer {
  display: block;
}
