.root {
  max-width: 450px;
  flex-grow: 1;
  position: relative;
}

.textBoxContainer {
  border-radius: 5px;
  margin-bottom: 0 !important;
  padding: 1em !important;
  border: none !important;
  composes: low from 'common/styles/box-shadow.less';

  input {
    font-size: 1.1em;

    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.searchIcon {
  width: 30px;
  height: 30px;
}

.simple {
  &.textBoxContainer {
    padding: 0.25em 0.35em !important;
    box-shadow: none;
    border-radius: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;

    input {
      font-size: 0.9em;
    }
  }

  &.searchIcon {
    width: 20px;
    height: 20px;
  }
}

.searchButton {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
}
