@import '../../../../common/styles/sizes.less';

@margin: 0.5em;

.root {
  display: inline-flex;
  white-space: normal;
  font-size: 1rem;
  padding: 0;
  margin: 1em auto;
  margin-top: 0;
}

.inner {
  display: flex;
  flex-grow: 1;
  padding: 1em;
  justify-content: space-between;
}

.column {
  text-align: center;
}

.result {
  font-size: 1.75em;
  font-family: 'Menomonia';
  font-weight: bold;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.red,
.blue {
  font-weight: bold;
}

.stretch {
  text-align: center;
}

.spreadItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats {
  text-align: right;
}

@media only screen and (min-width: @tablet) {
  .root {
    max-width: ~"calc(50% - 0.5em)";
  }

  .root:nth-child(even) {
    margin-right: @margin;
  }

  .root:nth-child(odd) {
    margin-left: @margin;
  }
}
