.root {
  display: flex;
  white-space: normal;
  font-size: 1rem;
}

.inner {
  padding: 1.5em;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.column {
  text-align: center;
}

.result {
  font-size: 1.75em;
  font-family: 'Menomonia';
  font-weight: bold;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.red,
.blue {
  font-weight: bold;
}

.stretch {
  text-align: center;
}

.spreadItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats {
  text-align: right;
}
