.root {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  background: orange;
  font-weight: bold;
  border-radius: 2px;
  font-size: 0.8em;
  max-width: 275px;
  composes: low from 'common/styles/box-shadow.less';
}
