@import '../../common/styles/sizes.less';

@thick-width: 180;
@thin-width: 120;
@content-width: 820px;

.root {
  flex-grow: 1;
  width: 100%;
}

.inner {
  max-width: @content-width;
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-direction: column;
}

.leftColumn,
.innerRightColumn {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.innerRightColumn {
  flex-direction: row;
}

.attributes {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 50%;
  }
}

.brushStrokeContainer {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  overflow: visible;
}

.brushStrokeContainer:before,
.brushStrokeContainer:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 125px;
  height: 337px;
  bottom: -2px;
  background-image: url('assets/images/brush-stroke-1.png');
}

.brushStrokeContainer:before {
  left: -125px;
}

.brushStrokeContainer:after {
  transform: scaleX(-1);
  right: -125px;
}

.links {
  margin: 0 auto;
  max-width: 400px;
}

@media only screen and (min-width: @tablet) {
  .columns {
    flex-direction: row;
  }

  .leftColumn,
  .innerRightColumn {
    justify-content: flex-start;
  }

  .leftColumn {
    flex-direction: column;
  }

  .rightColumn {
    width: @thick-width * 1px;
  }
}
