@import '~common/styles/base.less';

.links {
  flex-shrink: 0.3;
  align-self: flex-start;
}

.fromTablet({
  .links {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-self: inherit;
  }
});

.fromPc({
  .links {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
});
