.root {
  position: relative;
}

.uploadOverlay {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 3em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
}
