@import '~common/styles/base.less';

@traitColumnZ: @_zindex10;
@background: @_black;

.overflowContainer {
  overflow: auto;
  width: 100%;
  margin: 2.5em 0;
  -webkit-overflow-scrolling: touch;
}

.root {
  display: block;
  height: 140px;
  width: 650px;
  display: flex;
  align-items: center;
  padding-left: 4.4em;
  background-color: @background;
  margin: 0 auto;
  position: relative;
  .low;
  overflow: auto;
}

.background {
  position: absolute;
  background-position: bottom left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.majorTraitColumn {
  display: flex;
  flex-flow: column;

  div {
    clip-path: inset(2px 2px 2px 2px);
  }

  z-index: @traitColumnZ;
}

.minorTraitColumn {
  z-index: @traitColumnZ;
  margin: 5.3%;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

.bigIcon {
  margin-left: 0;
}

@media only screen and (min-width: @tablet) {
  .bigIcon {
    margin-left: 0;
  }
}
