@import '~common/styles/base.less';

@traitColumnZ: @_zindex10;
@background: @_black;

.rootOverflow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.root {
  display: flex;
  align-items: center;
  position: relative;
  overflow: auto;
  background-color: @background;
  .low;
}

.background {
  position: absolute;
  background-position: bottom left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.majorTraitColumn {
  display: flex;
  flex-flow: column;

  div {
    clip-path: inset(2px 2px 2px 2px);
  }

  z-index: @traitColumnZ;
}

.minorTraitColumn {
  z-index: @traitColumnZ;
  clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
}

.compact {

}

.small {
  .rootOverflow {
    width: inherit;
  }

  .root {
    height: 140px;
    width: 363px;
    padding-left: 12px;
  }

  .background {
    background-position: 10% 100%;
  }
}

.large {
  .rootOverflow {
    width: 100%;
  }

  .root {
    height: 140px;
    width: 650px;
    padding-left: 4.4em;
    margin: 0 auto;
  }

  .minorTraitColumn {
    margin: 30px;
  }

  .bigIcon {
    margin-left: 0;
  }
}
