@import '~common/styles/colours.less';

.root {
  background: rgb(88, 88, 88);
  position: relative;
  background-size: cover;
  background-position: center center;
}

.name {
  background: rgba(22, 22, 22, 0.75);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  padding: 0.5em;

  &:hover,
  &:focus {
    color: @primary;
  }
}
