.root {
  text-align: center;
  margin-bottom: 1em;
}

.firstContainer,
.closeToFirstContainer,
.everyoneElse {
  display: inline-block;
}

.firstContainer {
  margin: 4em 0 2em;
}

.closeToFirstContainer {
  margin: 1em 0;
}

.everyoneElse {
  margin: 1em;
}
