@import '~common/styles/base.less';

.root {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.75em;
  z-index: 2;
  padding: 5px;
  background: fade(@_white, 50%);
  text-transform: uppercase;
}
