@import '~common/styles/sizes.less';

.root {
  text-align: left;
  margin: 2em auto 0;
  position: relative;
  max-width: 500px;
  flex-shrink: 0;
}

.helpIcon {
  position: absolute;
  top: 27px;
  right: 5px;
  z-index: 99;
}


@media only screen and (min-width: @pc) {
  .root {
    margin: 2em auto;
  }
}
