@import '~common/styles/base.less';

@bottomSpacer: 2em;
@borderBottom: @_black;
@background: @_white;

// TODO: Fix the !importants

.error {
  position: absolute;
  font-size: 0.8em!important;
  white-space: wrap;
  left: 0;
  right: 0;
  top: 39px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid @borderBottom;
  background: @background;
  margin-bottom: @bottomSpacer;
}

.textbox {
  border: none;
  padding: 0.25em;
  width: 100%;
  margin: 0;
  font-size: 1.3em;
  border-radius: 0;
  outline: none!important;
  transition: border-color 0.2s;
  -moz-mox-shadow: none;

  &:invalid {
      box-shadow: none;
  }
}

.valid {
  border-color: @positive;
}

.validityContainer {
  display: flex;
  align-items: center;
}
