@import '../../styles/colours.less';

.error {
  position: absolute;
  font-size: 0.8em;
  color: @negative;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 0;
  right: 0;
  bottom: 3px;
  overflow: hidden;
}

.container {
  position: relative; 
  padding-bottom: 1.6em;
}

.labelContainer {
  display: none;
}

.textbox {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.25em;
  width: 100%;
  margin: 0;
  font-size: 1.3em;
  border-radius: 0;
  outline: none;
}
