@import '~common/styles/base.less';

@mobileMargin: 10px;
@tabletMargin: 10px;

.container {
  margin: 0 @mobileMargin;

  .fromTablet({
    margin: 0 @tabletMargin;
  });

  .fromPc({
    width: @pc - (@tabletMargin * 2);
    margin: 0 auto;
  });
}

