@import '~common/styles/base.less';

@achievementMargin: 0.25rem;

.root {
  display: flex;
  font-weight: 100;
  align-items: flex-start;
}

.groups {
  width: 25%;
  background-color: @tabsBg;
  align-self: stretch;

  .fromTablet({
    width: 30%;
  });

  .fromPc({
    width: 25%;
  });
}



.textbox {
  display: none;
  margin: 0;
  padding: @achievementMargin * 2;
}


