@import '~common/styles/base.less';

@achievementMargin: 0.25rem;

.root {
  display: flex;
  font-weight: 100;
  align-items: flex-start;
}

.groups {
  width: 25%;
  background-color: @tabsBg;
  align-self: stretch;

  .fromTablet({
    width: 30%;
  });

  .fromPc({
    width: 25%;
  });
}

.categoryStrap {
  padding: @achievementMargin * 2.5;
  margin: @achievementMargin * 2;
  margin-bottom: 0;
  width: auto;
}

.categoryName {
  margin: 0;
}

.achievementsContainer {
  width: 75%;

  .fromTablet({
    width: 70%;
  });

  .fromPc({
    width: 75%;
  });
}

.achievements {
  padding: @achievementMargin;
  display: flex;
  flex-wrap: wrap;
}

.textbox {
  margin: 0;
  padding: @achievementMargin * 2;
}

.achievement {
  width: calc(100% ~"-" (@achievementMargin * 2));
  margin: @achievementMargin;

  .fromTablet({
    width: calc(50% ~"-" @achievementMargin * 2);
  });

  .fromPc({
    width: calc(33.33333% ~"-" (@achievementMargin * 2));
  });
}
