@import '~common/styles/base.less';

@achievementMargin: 10px;
@progressPadding: 5px;
@zIndex-tierLevel: 10;
@fontSize: 0.9em;

.root {
  display: flex;
  padding: 0;
}

.iconContainer {
  position: relative;
  padding: @achievementMargin * 1.25;
}

.points {
  font-size: 2em;
  .primaryFont();
  margin-right: @achievementMargin / 2;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: none;
}

.completed {
  font-size: 0.8em;
  font-weight: 400;
}

.progressLabel {
  align-items: flex-end;
  padding-bottom: @progressPadding;
  font-size: @fontSize;
}

.pointsContainer {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: @achievementMargin;
}

.name {
  font-size: 16px;
  .primaryFont();
  margin-bottom: @achievementMargin / 2;
}

.tierStatus {
  position: absolute;
  top: @progressPadding * 1.5;
  left: 0;
  right: 0;
  text-align: center;
  z-index: @zIndex-tierLevel;
  font-size: @fontSize;
}

.incomplete {
  opacity: 0.4;
}
