@import '~common/styles/base.less';

@achievementMargin: 10px;
@progressPadding: 5px;
@zIndex-tierLevel: 10;
@zIndex-IconComplete: 20;
@fontSize: 0.9em;

.root {
  padding: 0;
}

.achievementContainer {
  display: flex;

  &:hover {
    background-color: @_lightgray;
  }
}

.iconContainer {
  position: relative;
  padding: @achievementMargin * 1.25;
  background-color: @_lightgray;
}

.points {
  .primaryFont();
  margin-left: @achievementMargin / 2;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: none;
}

.icon {
  opacity: 0.5;
}

.completed {
  .icon {
    z-index: @zIndex-IconComplete;
    opacity: 1;
  }
}

.progressLabel {
  align-items: flex-end;
  padding-bottom: @progressPadding;
  font-size: @fontSize;
  text-shadow: none;
  color: @_black;
}

.pointsContainer {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: @achievementMargin;
}

.name {
  font-size: 16px;
  .primaryFont();
}

.tierStatus {
  position: absolute;
  top: @progressPadding * 1.5;
  left: 0;
  right: 0;
  text-align: center;
  z-index: @zIndex-tierLevel;
  font-size: @fontSize;
}

.incomplete {
  opacity: 0.4;
}

.rewards {
  display: flex;
  height: @xsmall * 1px;
  align-items: center;
  background-color: @cardDarkBackground;
  color: @_white;

  > * {
    margin-right: @progressPadding;
  }
}

.bits {
  position: relative;
  cursor: pointer;
  padding: @progressPadding;
  max-height: 35px;
  width: 100%;
  text-align: left;
}

.expanded {
  max-height: unset;

  .expandIcon {
    transform: rotate(180deg);
  }

  .bitsWash {
    opacity: 0;
  }
}

.expandIcon {
  position: absolute;
  top: 3px;
  right: 3px;
}

.bitsWash {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}
