@import '../../common/styles/colours.less';

.app {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

h1 {
  display: none;
}

h2, h3, h4 {
  font-weight: normal;
  font-family: 'Menomonia';
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0.5em 0.1em 0.5em;
}

h3 {
  font-size: 1.7em;
  margin-bottom: 0.75 * 0.7em 0 0 0;
}

h4 {
  font-size: 1.5em;
}

a {
  color: @text;
  text-decoration: none;
  transition: color 0.1s
}

a:hover,
a:focus {
  color: @primary;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: @gray;
}
