@import '~common/styles/base.less';

@background: @_black;
@borderShadow: fade(@_black, 30%);

.root {
  display: inline-block;
  padding: 5px;
  width: 100%;
  border: 1px solid @borderShadow;
  border-radius: 2px;
  box-shadow: 1px 1px 2px @borderShadow;
  background-color: @background;
  background-size: 630px 647px;
  background-clip: padding-box;
  background-image: url('assets/images/tooltip-bg.png');
}

@media only screen and (min-width: @tablet) {
  .root {
    max-width: 325px;
    margin-bottom: 5px;
  }
}
