.weaponsContainer,
.sigilsContainer,
.upgradesContainer {
  text-align: center;
  flex-shrink: 0;

  > * {
    display: inline-block;
  }
}

.sigilsContainer {
  margin-top: -15px;
}

.weaponsContainer {
  white-space: nowrap;
}

.inline {
  display: flex;
  height: 60px;
}
