<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="website" property="og:type" />
    <meta content="<%= htmlWebpackPlugin.options.description %>" property="og:description" />
    <meta content="<%= htmlWebpackPlugin.options.description %>" name="description" />
    <meta content="https://gw2armory.com<%= require('./assets/images/logo.png') %>" property="og:image" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href="<%= require('./assets/images/favicons/favicon.ico') %>" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicons/favicon-16.png') %>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicons/favicon-32.png') %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicons/favicon-96.png') %>" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= require('./assets/images/favicons/favicon-192.png') %>" sizes="192x192" />
    <link rel="apple-touch-icon" href="<%= require('./assets/images/favicons/appIcon.png') %>" />
    <link rel="android-touch-icon" href="<%= require('./assets/images/favicons/appIcon.png') %>" />
  </head>
  <body>
    <span id="root"></span>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-69365005-1','auto');</script>
  </body>
</html>
