@import '~common/styles/base.less';

.root {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  padding: 0.5em 1em;
  .high;
}

.error {
  color: fade(@_white, 90%);
  background-color: @_red;
}

.info {
  color: fade(@_black, 90%);
  background-color: @fine;
}

.message {
  flex-grow: 1;
}

.leftIcon {
  margin-right: 0.5em;
  flex-grow: 0;
}

.button {
  text-transform: uppercase;
  flex-grow: 0;
}
