@import '~common/styles/base.less';

@tabPadding: 0.9em;

.tabsBg {
  padding: 10px 0;

  &.default {
    background-color: @tabsBg;
    border-bottom: 1px solid @tabsBorder;

    .tab {
      color: @_black;
    }
  }

  &.transparent {
    .tab {
      color: @_white;
    }

    .selected {
      color: @_black;
    }
  }

  .fromTablet({
    padding: 0;
  });

  .fromPc({
    font-size: 0.85em;
  });
}

.tabsContainer {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    .fromTablet({
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    });
  }

  li {
    display: block;
  }
}

.tab {
  display: block;
  padding: @tabPadding @tabPadding * 2;
  border: 1px solid transparent;
}

.selected {
  border: 1px solid @tabsBorder;
  background-color: @background;
  border-radius: 2px;

  .fromTablet({
    margin-bottom: -1px;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    padding-bottom: calc(@tabPadding ~"+" 2px);
  });
}

.pinnedRight {
  margin-left: auto;
}

.metaContent {
  background-color: @tabsBorder;
  text-align: center;
}
