@import '~common/styles/base.less';

.root {
  font-size: 0.75rem;
}

.tabsBg {
  background: @tabsBg;
  border-bottom: 1px solid @tabsBorder;
}

.tabsContainer {
  display: flex;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    display: inline-block;
  }
}

.tab {
  display: block;
  padding: 1em 2em;
  color: @_darkgray;
}

.selected,
.selected.tab:hover,
.selected.tab:focus,
.tab:hover,
.tab:focus {
  background: @tabHover;
  color: @_darkergray;
}

.fromTablet({
  .root {
    font-size: 0.85rem;
  }
});

.pinnedRight {
  margin-left: auto;
}
