@import '~common/styles/base.less';

@content-width: 820px;

.root {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 2em;
}

.inner {
  max-width: @content-width;
  margin: 0 auto;
}

.heading {
  max-width: 500px;
  margin: 0 auto;
}

.gamesContainer {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1.5em;
}

.card {
  margin-bottom: 0.75em;
}

.access {
  display: flex;
  width: inherit;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.4em;

  > span {
    margin-left: 0.3rem;
  }
}

.summaryContainer {
  margin: 0 auto;
  margin-top: 1em;
  flex-wrap: wrap;
}

.fromTablet({
  .gamesContainer {
    max-width: 1000px;
  }

  .summaryContainer {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1em;
    align-items: flex-start;

    > div {
      width: 50%;
    }
  }
});
