@import '~common/styles/base.less';

.root {
  margin: 0.5em auto;
}

.log {
  margin: 0 auto 0.5em;
}

.logTime {
  float: right;
  color: @_gray;
  font-weight: bold;
}

.progress {
  text-align: center;
}
